.secrets/
logs/
__pycache__/
*test*
Data/
*.bat
Todo*
dist/
*.spec
build/
*.exe
update.py
backup/
builds/
Ollama/
Secrets Ideas.md
Assets/Badges/*.jpg
Assets/Badges/*.jpeg
Assets/Badges/*.png
.venv
Info/
DataOLD/
notes.*
Nexon2
.env
migrations
docs/