nexon
nexon[voice]
nexon[speed]
google-genai
cryptography
emoji==2.14.1
fastapi==0.115.7
httpx==0.28.1
nest_asyncio==1.6.0
ollama==0.4.7
Pillow==11.1.0
psutil==6.1.1
Requests==2.32.3
rich==13.9.4
starlette==0.45.3
uvicorn==0.34.0