nextcord==3.0.1
nextcord[voice]
nextcord[speed]
google-genai
emoji==2.14.1
fastapi==0.115.7
httpx==0.28.1
nest_asyncio==1.6.0
nextcord_ext_ipc==2.2.1
ollama==0.4.7
Pillow==11.1.0
psutil==6.1.1
PyQt5==5.15.11
PyQt5_sip==12.16.1
Requests==2.32.3
rich==13.9.4
starlette==0.45.3
uvicorn==0.34.0
