google-genai
cryptography
better_profanity
emoji
fastapi
httpx
nest_asyncio
ollama
Pillow
psutil
Requests
rich
starlette
uvicorn
python-dotenv
pydantic
boto3
mypy-boto3-s3
python-multipart
cachetools
aiohttp
nextcord
nextcord[voice]
nextcord[speed]
tortoise-ORM
python-jose[cryptography]
aiofiles
aerich